{{/* Renders a responsive YouTube embed when .Params.youtube (video ID) is set. */}}
{{- with .Params.youtube -}}
  {{- $id := . -}}
  {{- if hasPrefix $id "http" -}}
    {{- $id = replaceRE `.*(?:youtube\.com/watch\?v=|youtu\.be/)([a-zA-Z0-9_-]+).*` "$1" $id -}}
  {{- end -}}
  {{- if $id -}}
<figure class="video-embed youtube-embed">
  <div class="video-embed-wrapper">
    <iframe
      src="https://www.youtube.com/embed/{{ $id }}"
      title="{{ $.Title }}"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
  </div>
</figure>
  {{- end -}}
{{- end -}}
